

.root {
    -fx-background-color: dimgrey;
    -fx-padding: 0 0 0 0;
}


.text {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 14px;

}

.title {
    -fx-font-size: 22px;
}

.bottompane {
    -fx-padding: 0 0 20 0;
    -fx-background-color: black;
    -fx-background-size: auto auto;

}


.bottompane .timeline {

}

.controlpane {
    -fx-padding: 0 30 0 30;
    -fx-background-color: black;
    -fx-background-size: auto auto;

}

.toppane {
    -fx-background-color: black;
    -fx-padding: 10 0 10 0;

}

.rightpane {
    -fx-background-color: black;
}


.centerpane {
    -fx-pref-height: 50%;
    -fx-pref-width: 50%;
    -fx-max-height: 400px;
    -fx-max-width: 400px;
    -fx-scale-x: 0;
    -fx-scale-y: 0;

}

 .buttons {
 	
 	-fx-background-color: transparent;
 	-fx-background-radius: 20px;
 
 }


.buttonPlay {
    -fx-graphic: url("../picture/play.png");
 }

.buttonPause {
    -fx-graphic: url("../picture/pause.png");
 }

 .buttonPlay:hover {
    -fx-graphic: url("../picture/playOnSelection.png");
 }


 .buttonPlay:pressed {
    -fx-graphic: url("../picture/pause.png");
 }


 .buttonNext {
    -fx-graphic: url("../picture/next.png");
 }


.buttonNext:hover {
    -fx-graphic: url("../picture/nextOnSelection.png");
}


.buttonPrev {
    -fx-graphic: url("../picture/prev.png");
}


.buttonPrev:hover {
    -fx-graphic: url("../picture/prevOnSelection.png");
}


.buttonRandom {
    -fx-graphic: url("../picture/random.png");
}

.buttonRandomOnPress{
 -fx-graphic: url("../picture/randomOnSelection.png");
}


.buttonRandom:hover {
    -fx-graphic: url("../picture/randomOnSelection.png");
}


.buttonRepeat {
    -fx-graphic: url("../picture/repeat.png");
}


.buttonRepeat:hover {
    -fx-graphic: url("../picture/repeatOnSelection.png");
}

.buttonAddPlaylist {
    -fx-graphic: url("../picture/addPlaylist.png");
}
.buttonAddPlaylist:hover {
    -fx-graphic: url("../picture/addPlaylistOnSelection.png");
}

.toggle-button {
    -fx-background-color:
            transparent,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}


.slider .timeline {
    -fx-background-color: #696969;
    -fx-padding: 0.05em;
}

.slider .fill {
    -fx-background-color: #696969;
    -fx-padding: 0.5em;
}

.slider .fill:hover {
    -fx-background-color: #111111;
}

.sliderTl {
       -fx-pref-width: 1000px;
        -fx-background-color: #151515;
        -fx-padding: 0.01em;
}



